* {
  box-sizing: border-box;
}
body { 
  font-family: 'Karla', sans-serif;
  margin: 0;
}
main {
  padding: 36px;
}
.header {
  display: flex;
  align-items: center;
  height: 65px;
  background: linear-gradient(90deg, #672280 1.18%, #A626D3 100%);
  color: white;
  padding: 20px;
}

.header--title{
  font-size: 1.25rem;
  margin-right: auto;   
}
.header--project{
  font-size: 0.9rem;
  font-weight: 500;
}
.lottery-container {
  display: flex;
  flex-direction: column; 
  align-items: center; 
  margin-top: 20px;
  margin: 0 auto;
  max-width: 80%;
  justify-content: stretch;
}
.button {
  font-family: 'Karla', sans-serif;
  font-size: 1.1rem;
  border-radius: 5px;
  background: linear-gradient(90.41deg, #711F8D 1.4%, #A818DA 100%);
  color: white;
  border: none;
  cursor: pointer;
  padding: 1.5rem 3rem;
  transition: background 0.3s, border-color 0.3s, color 0.3s, box-shadow 0.3s;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.button:focus,
.button:active {
  background: linear-gradient(90.41deg, #711F8D 1.4%, #A818DA 100%);
  border-color: transparent; 
  outline: none;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.lottery--image {
  max-width: 80%; 
  height: auto;
  border-radius: 3px;   
}